
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: $darkblue;
}

a{
  color: $blue;
}

ol.breadcrumb{
  padding-left: 0;
  background: none;
  >li{
    color: #8F8F8F;
    >a{
      color: $red;
      .material-icons{
        font-size: 14px;
      }
    }
  }
}

.message{
  font-size: 20px;
  border: 1px solid #d5d5d5;
  padding: 10px 40px 10px 60px;
  &.message-reloj{
    background: url(../images/reloj.svg) 10px 10px no-repeat;
    background-size: 32px;
  }
  &.message-alerta{
    background: url(../images/alerta.svg) 10px 10px no-repeat;
    background-size: 32px;
  }
}

.doc{
  border: 1px solid #d5d5d5;
  padding: 10px 40px 10px 60px;
  &.doc-doc{
    background: url(../images/doc.svg) 10px 10px no-repeat;
    background-size: 32px;
  }
}

.navbar-default{
  height: 90px;
  background: none;
  border: none;
  .navbar-brand{
    padding: 0;
    .gob{
      margin-bottom: 10px;
    }
  }
  .navbar-nav{
    li{
      a{
        font-size: 16px;
        color: white;
        padding-top: 35px;
        padding-bottom: 35px;
        &:hover{
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
}

.search{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 2px;
  input{
    height: 60px;
    font-family: "Open Sans";
    font-size: 20px;
    border: none;
    box-shadow: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .input-group-btn{
    background: $red;
    .btn{
      background: transparent;
      color: white;
      height: 60px;
      border: none;
      font-weight: bold;
      font-size: 16px;
      padding-left: 32px;
      padding-right: 32px;
      box-shadow: none;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      &:hover{
        background: darken($red,10%);
      }
    }
  }

  .dropdown-menu{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 80%;
    li{
      a{
        font-size: 20px;
        height: 60px;
        line-height: 60px;
      }
    }
  }
}

header.default{
  background: $darkblue;
  .search-area{
    background: #F7F7F7;
    padding: 30px 0;
    label{
      font-size: 16px;
      color: #757575;
      font-weight: bold;
    }
    .search{
      border: 1px solid #D7D6D7;
      box-shadow: none;
      border-radius: 2px;
    }
  }
}

header.home{
  min-height: 550px;
  background-image: url('../images/home.jpg');
  background-size: cover;
  background-position: 0;
  color: white;
  position: relative;

  .main{
    margin-top: 70px;
    h2{
      font-family: "Roboto Slab";
      font-weight: normal;
      font-size: 36px;
    }
    h3{
      font-size: 20px;
      font-weight: normal;
    }
    .claveunica{
      padding: 28px 32px;
      background: rgba(11,16,46,0.60);
      border-radius: 2px;
      font-size: 16px;
      a{
        color: white;
        text-decoration: underline;
      }
      .btn{
        font-size: 16px;
        border: 1px solid white;
        text-decoration: none;
        &:hover{
          color: white;
        }
      }
    }
    label{
      margin-top: 44px;
    }

    h4{
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .search-list{
      list-style: none;
      padding-left: 0;
      >li{
        display: inline-block;
        >a{
          padding: 5px 10px;
          background: $red;
          color: white;
          border: 1px solid darken($red, 10%);
          border-radius: 2px;
          &:hover{
            text-decoration: none;
            background: darken($red, 10%);
          }
        }
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%, #000000 100%);
  }
  *{
    position: relative;
  }
}

main{
  background: white;
  color: $black;
  #home{
    .title{
      padding-bottom: 12px;
      margin-bottom: 28px;
      border-bottom: 1px solid #D7D6D7;
      h2{
        font-weight: normal;
        font-family: "Roboto Slab";
        font-size: 28px;
        margin: 0;
      }
      .subtitle{
        color: #8F8F8F;
      }
    }
    .featured-area{
      background: #F7F7F7;
      padding: 54px 0;
      .featured{
        background: white;
        height: 230px;
        >a.header{
          height: 120px;
          display: block;
          &:hover{
            text-decoration: none;
          }
          img, .image{
            height: 100%;
          }
          .image{
            background: $black;
            font-size: 24px;
            font-family: "Roboto Slab";
            text-align: center;
            color: white;
            padding: 16px;
          }
        }

        >.caption{
          padding: 16px;
          h3{
            margin: 0;
            line-height: 1;
            a{
              color: $black;
              text-decoration: none;
              font-size: 18px;
              font-weight: normal;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }

      }
    }
    .categories-area{
      padding: 54px 0;
      .category{
        margin-bottom: 65px;
        h3{
          font-family: "Roboto Slab";
          font-size: 20px;
          font-weight: normal;
          border-bottom: 3px solid $red;
          padding-bottom: 18px;
          margin-bottom: 18px;
          display: inline-block;
        }
        ul{
          height: 240px;
          color: #D7D6D7;
          padding-left: 15px;
          li{
            color: #8F8F8F;
            font-weight: 500;
            margin-bottom: 20px;
            a{
              font-weight: normal;
              text-decoration: underline;
              font-size: 16px;
            }
          }
        }
        .btn{
          color: $red;
          border: 1px solid $red;
          padding: 10px 24px;
          line-height: 1;
          &:hover{
            background: $red;
            color: white;
          }
        }
      }
    }


  }
  #search{
    .total{
      color: #757575;
    }
    ol.search-results{
      list-style: none;
      padding-left: 0;
      >li{
        .author{
          font-size: 12px;
          color: $lightblue;
        }
        h4{
          font-size: 20px;
          font-weight: normal;
          margin-top: 0;
          margin-bottom: 0;
        }
        .online{
          font-weight: 500;
          color: #858585;
        }
        p{
          color: #757575;
        }
        em{
          font-weight: bold;
        }
        margin-bottom: 30px;
      }
    }
    .pagination{
      >li{

        >*{
          margin-right: 10px;
          font-size: 16px;
          border: 1px solid $red;
          color: $red;
        }
        &.active{
          >*{
            background: $red;
            color: white;
          }
        }
        &:last-child{
          >*{
            margin-right: 0;
          }
        }
      }
    }

    .filter{
      h3{
        font-size: 14px;
        color: $red;
        font-weight: normal;
        margin-top: 0;
        .material-icons{
          font-size: 14px;
        }
      }
      label{
        font-weight: normal;
      }
    }
  }
  #page{
    padding: 30px 0;
    font-weight: 300;
    font-size: 16px;
    .sidebar{
      font-weight: normal;
      transition: margin-top ease-out 0.3s;
      margin-top: 0;
      &.affix{
        top: 0;
        margin-top: 20px;
      }
      .index{
        padding-left: 15px;
        margin-bottom: 20px;
        li{
          margin-bottom: 10px;
          a{
            font-size: 16px;
            text-decoration: underline;
          }
        }

      }
    }
    .online{
      font-weight: 500;
      color: #858585;
    }
    h3{
      font-size: 28px;
      font-weight: normal;
      margin-top: 0;
    }
    h4{
      font-family:"Roboto Slab";
      font-size: 20px;
      font-weight: normal;
      margin-top: 30px;
      &:first-of-type{
        margin-top: 0;
      }
    }
    .author{
      color: $lightblue;
      font-weight: normal;
    }
    .updated-at{
      font-weight: normal;
    }
    .btn.btn-online{
      padding: 20px 100px;
      background: $red;
      border: 1px solid darken($red,10%);
      border-radius: 2px;
      /* name: */
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;

    }
    .howto{
      ul.nav-tabs{
        border-bottom: 1px solid $red;
        >li{
          margin-right: 20px;
          >a{
            background: #F7F7F7;
            color: #8F8F8F;
            border-color: #D7D6D7;
            font-size: 16px;
            border-bottom: 1px solid $red;
          }
          &.active{
            >a{
              background: white;
              border-color: $red;
              border-bottom: 1px solid transparent;
              color: $red;
            }
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
      .tab-content{
        padding: 12px 0;
        ol{
          list-style: none;
          padding-left: 0;
          margin-bottom: 20px;
          >li{
            counter-increment: step-counter;
            padding: 12px 0;
            border-bottom: 1px solid #D7D6D7;
            &:before{
              content: counter(step-counter);
              font-weight: normal;
              background: $red;
              width: 20px;
              height: 20px;
              color: white;
              display: inline-block;
              border-radius: 10px;
              text-align: center;
              margin-right: 16px;
            }
          }
        }

      }
    }
  }
  #backend{
    padding: 20px 0;
  }
}

footer{
  background: $darkblue;
  color: #8F8F8F;
  padding: 74px 0;
  a{
    text-decoration: underline;
    color: white;
    &:hover{
      color: inherit;
    }
  }
  h3{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
  }
  ul{
    list-style: none;
    padding-left: 0;
    li{
      a{
        text-decoration: none;
        color: #8F8F8F;
        &:hover{
          color: white;
        }
      }
    }
  }
  .container{
    position: relative;
    .gob{
      position: absolute;
      bottom: -74px;
      left: 15px;
    }
  }

}