
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

a{
  color: $blue;
}

header.home{
  min-height: 550px;
  background-image: url('../images/home.jpg');
  background-size: cover;
  background-position: 0;
  color: white;
  position: relative;
  .navbar-default{
    background: none;
    border: none;
    .navbar-nav{
      li{
        a{
          font-size: 16px;
          color: white;
        }
      }
    }
  }
  .main{
    margin-top: 70px;
    h2{
      font-family: "Roboto Slab";
      font-weight: normal;
      font-size: 36px;
    }
    h3{
      font-size: 20px;
      font-weight: normal;
    }
    .claveunica{
      padding: 28px 32px;
      background: rgba(11,16,46,0.60);
      border-radius: 2px;
      font-size: 16px;
      a{
        color: white;
        text-decoration: underline;
      }
      .btn{
        font-size: 16px;
        border: 1px solid white;
        text-decoration: none;
        &:hover{
          color: white;
        }
      }
    }
    label{
      margin-top: 44px;
    }
    .search{
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
      border-radius: 2px;
      input{
        height: 60px;
        font-family: "Open Sans";
        font-size: 20px;
        border: none;
        box-shadow: none;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      .btn{
        background: $red;
        color: white;
        height: 60px;
        border: none;
        font-weight: bold;
        font-size: 16px;
        padding-left: 32px;
        padding-right: 32px;
        box-shadow: none;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        &:hover{
          background: darken($red,10%);
        }
      }
    }
    h4{
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .search-list{
      list-style: none;
      padding-left: 0;
      >li{
        display: inline-block;
        >a{
          padding: 5px 10px;
          background: $red;
          color: white;
          border: 1px solid darken($red, 10%);
          border-radius: 2px;
          &:hover{
            text-decoration: none;
            background: darken($red, 10%);
          }
        }
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%, #000000 100%);
  }
  *{
    position: relative;
  }
}

main{
  #home{
    .title{
      padding-bottom: 12px;
      margin-bottom: 28px;
      border-bottom: 1px solid #D7D6D7;
      h2{
        font-size: 28px;
        margin: 0;
      }
      .subtitle{
        color: #8F8F8F;
      }
    }
    .featured-area{
      background: #F7F7F7;
      padding: 54px 0;
      .featured{
        background: white;
        height: 230px;
        >a.header{
          height: 120px;
          display: block;
          &:hover{
            text-decoration: none;
          }
          img, .image{
            height: 100%;
          }
          .image{
            background: $black;
            font-size: 24px;
            font-family: "Roboto Slab";
            text-align: center;
            color: white;
            padding: 16px;
          }
        }

        >.caption{
          padding: 16px;
          h3{
            margin: 0;
            line-height: 1;
            a{
              color: $black;
              text-decoration: none;
              font-size: 18px;
              font-weight: normal;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }

      }
    }
    .categories-area{
      padding: 54px 0;
      .category{
        margin-bottom: 65px;
        h3{
          font-family: "Roboto Slab";
          font-size: 20px;
          font-weight: normal;
          border-bottom: 3px solid $red;
          padding-bottom: 18px;
          margin-bottom: 18px;
          display: inline-block;
        }
        ul{
          height: 200px;
          color: #D7D6D7;
          padding-left: 15px;
          li{
            margin-bottom: 20px;
            a{
              text-decoration: underline;
              font-size: 16px;
            }
          }
        }
        .btn{
          color: $red;
          border: 1px solid $red;
          padding: 10px 24px;
          line-height: 1;
          &:hover{
            background: $red;
            color: white;
          }
        }
      }
    }


  }
  #search{
    ol{
      >li{
        em{
          font-weight: bold;
        }
        border-bottom: 1px solid lightgray;
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}

footer{
  background: #09132E;
  color: white;
  padding: 74px 0;
  a{
    color: white;
  }
  h3{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
  }
  ul{
    list-style: none;
    padding-left: 0;
    li{
      a{
        color: #8F8F8F;
        &:hover{
          color: white;
        }
      }
    }
  }
}